{% extends 'layout.html.twig' %}
{% set active = 'home' %}
{% block content %}
    <div class="container">
        <h1>No of Devices Registered: {{users|length}}</h1>
        <hr/>
        <ul class="devices">
		{% for user in users %}
        <li>
            <form action="{{ path('send_message') }}" method="post" class="form-vertical" id="sendform">
            User name: <input type="text" name="username" value={{user.username}}><br>
            Message: <input type="text" name="message"><br>
            <input type="submit" value="Send Notification">
            </form>
        </li>
        {% else %}
        <li><em>no user found</em></li>
		{% endfor %}
        </ul>
    </div>
{% endblock %}